/* Main Page */

.stApp{
    background-color:#0E1117;
}

/* Sidebar */

section[data-testid="stSidebar"]{
    background-color:#262730 !important;
}

section[data-testid="stSidebar"] *{
    color:white !important;
}

/* Main Container */

.block-container{
    padding-top:2rem;
    padding-bottom:2rem;
    padding-left:2rem;
    padding-right:2rem;
}

/* Metric Cards */

div[data-testid="metric-container"]{
    background:#1E1E1E;
    border:1px solid #404040;
    border-radius:12px;
    padding:18px;
}

div[data-testid="metric-container"]:hover{
    border-color:#4F8BF9;
}

/* Dataframe */

[data-testid="stDataFrame"]{
    border-radius:12px;
}

/* Buttons */

.stButton>button{
    border-radius:10px;
    height:45px;
}

/* Headers */

h1,h2,h3{
    color:white;
}

/* Caption */

[data-testid="stCaptionContainer"]{
    color:#BDBDBD;
}

/* Divider */

hr{
    border-color:#404040;
}